@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-semilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('segoeui-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}